# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#ftp
ftp/
ftp/*

#src
tmp/
tmp/*
DB/
DB/*
src/
src/*

#wp
www/*
www/wp-admin
www/wp-admin/*
www/wp-includes
www/wp-includes/*
www/wp-content
www/wp-content/upgrade
www/wp-content/upgrade/*
www/wp-content/languages
www/wp-content/languages/*
www/wp-content/uploads
www/wp-content/uploads/*
www/wp-content/plugins
www/wp-content/plugins/*
www/wp-content/themes/twentyfifteen
www/wp-content/themes/twentyfifteen/*
www/wp-content/themes/twentyfourteen
www/wp-content/themes/twentyfourteen/*
www/wp-content/themes/twentysixteen
www/wp-content/themes/twentysixteen/*
www/wp-content/themes/cista
www/wp-content/themes/cista/*
www/wp-content/themes/enigma
www/wp-content/themes/enigma/*
www/wp-content/themes/appointment/images/*
